
/* ---------------------- 全局样式 ---------------------- */
body {
        background-color: #f6f6f6;
}
body, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}


/*
 主题色值：#ff5a00
 大轮播图背景色： #364857
 */

/* ---------------------- 导航栏 ---------------------- */

.navbar {
    margin-bottom: 0;
    background-color: #ff5a00;
    border: none;
    border-radius: 0;
}
.navbar > .container {
    padding-top: 10px;
    padding-bottom: 0;
    max-width: 992px;
}
.navbar-header .navbar-toggle {  /*窄屏导航栏下拉按钮*/
    margin-top: 0;
    border-color: #fff;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-header .navbar-brand {
    width: 150px;
    height: 50px;
    padding: 0;
    margin-left: 15px; /*控制logo的左边距*/
}
.navbar-header .navbar-brand img {
    width: 100%;
}

#navbar .nav-pills > li > a {
    color: #222;
    font-size: 16px;
}
#navbar .nav-pills > li > a:hover {
    background-color: transparent;
    color: #eee;
}
#navbar .nav-pills > li.active {
    /*padding: 0;*/
}
#navbar .nav-pills > li.active > a {
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
    color: #fff;
    behavior: url(../plugin/pie.htc);
}
@media screen and (min-width: 768px) { /*大屏设置*/
    .navbar > .container {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #navbar .nav-justified {
        width: 80%;
    }
    #navbar .nav-justified > li {
        width: 10%;
    }
    #navbar .nav-pills > li {

    }
    #navbar .nav-pills > li > a {
        color: #fff;
        /*max-width: 110px;*/
    }
    #navbar .nav-pills > li > a:hover {
        color: #000;
    }
    #navbar .nav-pills > li.active {
        padding: 0 15px;
    }
    #navbar .nav-pills > li.active > a {
        border-radius: 25px;
        padding: 6px 0; /*改这里调整小药丸 高度 */
        margin: 0 auto;
        width: 100%;
        max-width: 100px; /*改这里调整小药丸 宽度 */
        behavior: url(../plugin/pie.htc);
        background-color: #fff;
        color: #fd4c5c;
    }
    #navbar .nav-pills > li.active {
        padding: 0 15px;
    }
}

/* ---------------------- 页脚 ---------------------- */

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    background-color: #ff5a00;
}
.footer .container {
    padding: 20px 10px 10px;
}
.footer .divider,
.footer p {
    display: block;
    height: 30px;
    text-align: center;
}
.footer .divider {
    display: none;
}
.footer p {
    color: #fff;
    font-size: 14px;
}
@media (min-width: 768px) {
    .footer p {
        font-size: 14px;
    }
}
@media screen and (min-width: 1200px){
    .footer .container {
        width: 1290px;
        padding: 20px 0;
    }
    .footer .divider,
    .footer p {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
    }
    .footer p {
        font-size: 16px;
        font-weight: lighter;
    }
    .footer .divider {
        background-color: #ff9257;
        width: 2px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*制造粘滞页脚效果*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 170px;
}
@media (min-width: 1200px) {
    body {
        margin-bottom: 110px;
    }
}


/* ---------------------- 纵向模块限制最大宽度 ---------------------- */

#hot, #career, #training, #hot-recommend, #crew-info {
    margin: 20px auto;
    max-width: 980px;
}
/*页首第二个模块上边距(非小屏)*/
@media (min-width: 768px){
    #hot, #hot-recommend {
        margin-top: 50px;
    }
}

/* ---------------------- 首页模块 ---------------------- */

/* ==============================
    首页-热门剧组
   ============================== */
#hot #img-tba {
    /*padding: 15px;*/
}

/* ==============================
    首页-职业通道
   ============================== */

#career #path {
    padding-left: 15px;
}
#career .arrow-right-red {
    background: transparent url("../img/icon/career-arrow-right.png") 0 40px no-repeat;
    background-size: contain;
    width: 15px;
    height: 120px;
}
#career .thumb-wrap {
    padding: 15px 0 0;
}
#career {
    max-width: 1440px;
    margin-top: 50px;
}
#career .career-thumb { /*职业通道那几个没用的图标*/
    width: 70px;
    height: 70px;
    background-color: #f7f7f7;
    border-radius: 50px;
    border: 1px solid #ff5a00;
    margin: 0 auto;
    padding: 13px;
}

/*暂时保留鼠标滑过变色的功能*/

/*#career #ct-1:hover .career-thumb{*/
    /*background-color: #feb333;*/
/*}*/
/*#career #ct-2:hover .career-thumb{*/
    /*background-color: #3ad788;*/
/*}*/
/*#career #ct-3:hover .career-thumb{*/
    /*background-color: #ff4457;*/
/*}*/
/*#career #ct-4:hover .career-thumb*/
/*{*/
    /*background-color: #7542f7;*/
/*}*/
/*#career #ct-5:hover .career-thumb{*/
    /*background-color: #4c75f5;*/
/*}*/

#career .career-thumb img {
    width: 40px;
    height: 40px;
}
#career .thumb-wrap p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

@media screen and (min-width: 768px){
    #career #path {
        padding-left: 30px;
    }
    #career .career-thumb {
        width: 100px;
        height: 100px;
        border-width: 2px;
        padding: 18px;
    }
    #career .career-thumb img {
        width: 60px;
        height: 60px;
    }
    #career .thumb-wrap p {
        font-size: 18px;
    }
    #career .arrow-right-red {
        background-position: 0 50px;
        width: 20px;
        height: 155px;
    }
}
@media screen and (min-width: 992px){
    #career #path {
        padding-left: 60px;
    }
}

/* ==============================
    首页-合作机构
   ============================== */
#partner-orgs{
    margin-top: 50px;
}
#partner-orgs .sec-caption {
    margin-bottom: 10px;
}
#partner-orgs a,
#partner-orgs a:visited,
#partner-orgs a:link {
    text-decoration: none;
    color: #000;
}
#partner-orgs a:hover {
    color: #ff5a00;
}
#partner-orgs .intro-thumb {
    padding: 10px 10px 0;
}
#partner-orgs .intro-thumb:hover .intro-thumb-img {
    border: 3px solid #ff5a00;
}
#partner-orgs .intro-thumb p {
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    line-height: 180%
}
@media screen and (min-width: 768px) {
    #partner-orgs .intro-thumb {
        padding: 20px 40px 0;
    }
    #partner-orgs .intro-thumb p {
        line-height: 250%;
    }
}
@media screen and (min-width: 992px) {
    #partner-orgs .intro-thumb {
        padding: 30px 50px 0;
    }
}
@media screen and (min-width: 1200px) {
    #partner-orgs .intro-thumb {
        padding: 50px 70px 0;
    }
}

/* ==============================
    首页-合作机构-机构详情二级页面
   ============================== */

#partner-org-info {
    max-width: 991px;
}
#partner-org-info .partner-block {
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
}
#partner-org-info #team-info {
    margin-left: 0;
    margin-right: 0;
}
#partner-org-info #team-info > p {
    font-size: 20px;
    margin-top: 20px;
}
#partner-org-info .intro-thumb {
    padding-bottom: 30px;
}
#partner-org-info .intro-thumb p {
    margin-left: -12px;
    margin-right: -12px;
    line-height: 25px;
    margin-top: 10px;
    height: 25px;
    font-size: 14px;
}
#partner-org-info .intro-thumb {
    margin-top: 30px;
}
#partner-org-info .intro-thumb .red-padding {
    display: block;
    width: 35px;
    height: 2px;
    background-color: #ff5a00;
    margin: 8px auto;
}

@media screen and (min-width: 992px) {
    #partner-org-info .intro-thumb {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    #partner-org-info .intro-thumb p {
        font-size: 16px;
        margin-left: -45px;
        margin-right: -45px;
    }
}
/* ---------------------- 剧组招募 ---------------------- */

/* ==============================
    热剧推荐/剧组详情
   ============================== */

#hot-recommend .simple-text,
#crew-info .simple-text {
    margin-top: 25px;
    padding: 15px;
    background-color: #eee;
}

#hot-recommend .simple-text p,
#crew-info .simple-text p {
    padding: 0;
}

/* ==============================
    剧组详情
   ============================== */

#crew-info {

}

/*人物小传*/
#crew-info #biographies .row {
    margin-left: 0;
    margin-right: 0;
}

/*剧组相册*/
#crew-info #crew-album .row{

}
#crew-info #crew-album {
    padding: 10px;
}
#crew-info #crew-album .btn {
    padding: 5px;
    border: none;
    background-color: transparent;
}
.modal {
}
.modal .modal-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.modal .modal-body img{
    margin: 0 auto;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #233;
}
.modal .close {
    z-index: 2000;
    opacity: 1;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    background: transparent url("../img/icon/icon-close.png") no-repeat;
}

/* ---------------------- 合作伙伴 ---------------------- */

#partners {
    max-width: 991px;
}
.partner-block {
    margin: 20px 0 40px;
}
.partner-block .pn-pic{
    max-width: 330px;
    min-width: 120px;
    padding: 0 10px 0 10px;
}
.partner-block .pn-caption {
    padding: 25px 15px;
}
.partner-block .pn-caption h4 {
    font-size: 20px;
}
.partner-block .pn-content {
    padding: 10px;
}
.partner-block .pn-content p {
    background-color: #eee;
    padding: 10px;
}
@media (min-width: 768px) {
    .partner-block {
        background-color: #eee;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .partner-block .pn-pic {
        padding-left: 0;
        padding-right: 0;
    }
    .partner-block .pn-caption {
        padding: 20px 30px 0;
        /*padding-bottom: 0;*/
    }
    .partner-block .pn-content {
        padding: 0 20px;
    }
}

/* ---------------------- 师资介绍 ---------------------- */

#teacher-slides {
    background: url("../img/carousel/teachers-slides-bg.jpg");
}

#teacher-info-slides {
    height: 500px;
}
@media (min-width: 768px) {
    #teacher-info-slides {
        height: 400px;
    }
}


/* ---------------------- 关于我们 ---------------------- */

#company-profile, #company-profile * {
    /*border: 1px dashed blue;*/
}
#company-profile {
    max-width: 992px;
    margin: 30px auto;
}
#company-profile h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
#company-profile p {
    font-size: 14px;
    line-height: 200%;
    text-indent: 30px;
}
@media screen and (min-width: 768px) {
    #company-profile {
        margin-top: 80px;
        margin-bottom: 220px;
    }
    #company-profile h3 {
        font-size: 20px;
    }
    #company-profile p {
        font-size: 16px;
    }
}


/* ---------------------- 公共组件 ---------------------- */

/* ==============================
    各种轮播图按钮部件
   ============================== */

.carousel-wrapper { /*自定义的用来包住左右箭头,限制其位置*/
    position: relative; /*因为左右箭头是absolute, 为了将它们绑在这个wrapper里面这里需要这个条件*/
    margin: 0 auto;
}
@media (min-width: 768px) {
    .carousel-wrapper {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .carousel-wrapper {
        width: 959px;
    }
}
.arrow-left, .arrow-right,
.arrow-left-white, .arrow-right-white,
.pagination {
    z-index: 200;
    /*display: none;*/
}
.arrow-left, .arrow-right,
.arrow-left-white, .arrow-right-white
{
    position: absolute;
    top: 50%;
    width: 17px;
    height: 29px;
    display: none;
}
.arrow-left {
    background: url("../img/carousel/arrow-left.png") no-repeat;
    left: 10px;
}
.arrow-right {
    background: url("../img/carousel/arrow-right.png") no-repeat;
    right: 10px;
}
.arrow-left-white {
    background: url("../img/carousel/arrow-left-white.png") no-repeat;
    left: 10px;
}
.arrow-right-white {
    background: url("../img/carousel/arrow-right-white.png") no-repeat;
    right: 10px;
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: -15px;
    width: 100%;
}
.swiper-pagination-switch {
    display: inline-block;
    /*width: 24px;*/
    width: 9px;
    height: 9px;
    border-radius: 50%;
    /*background: #fff;*/
    background: #e9e9e9;
    margin: 0 10px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #ff5a00;
}
@media (min-width: 768px) {
    .arrow-left, .arrow-right,
    .arrow-right-white, .arrow-left-white {
        display: block;
    }
}

/* ==============================
    页首大轮播图
   ============================== */

/*
    大轮播图背景色： #364857

    页首大轮播图比例：1200 x 470
    .swiper-container宽度 x = [320, 768, 992, 1200]，相应的高度计算:
        y = x * ( 47 / 120 ) = x * 0.3916
          = [125.31, 156.64, 300.74, 388.46, 470]
     五个宽高：
        320 x 125.31
        400 x 156.64
        768 x 300.74
        992 x 388.46
        1200 x 470

*/
.main-carousel, .main-carousel * {
    /*border: 1px dashed blue;*/
}
.main-carousel {
    position: relative; /*有absolute子元素(arrow和pagination)*/
    background-color: #364857;
    overflow: hidden;
}
.main-carousel .swiper-container .swiper-slide,
.main-carousel .swiper-container {
    /*width: 320px;*/
    /*height: 125px;*/
    height: 200px;
}
.main-carousel .swiper-container {
    width: 130%;
    margin-left: -40px;
    /*margin-right: -40px;*/
}
.main-carousel .swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 400px) {
    .main-carousel .swiper-container {
        width: 140%;
        margin-left: -50px;
        margin-right: -50px;
    }
    .main-carousel .swiper-container,
    .main-carousel .swiper-container .swiper-slide {
        height: 230px;
    }
}
@media screen and (min-width: 768px){
    .main-carousel .swiper-container {
        margin: 0 auto;
    }
    .main-carousel .swiper-container,
    .main-carousel .swiper-container .swiper-slide {
        width: 768px;
        height: 301px;
    }
}
@media screen and (min-width: 992px){
    .main-carousel .swiper-container,
    .main-carousel .swiper-container .swiper-slide {
        width: 992px;
        height: 388.5px;
    }
}
@media screen and (min-width: 1200px){
    .main-carousel .swiper-container,
    .main-carousel .swiper-container .swiper-slide {
        width: 1200px;
        height: 470px;
    }
}


/* ==============================
    带关联文本的介绍轮播图
   ============================== */

.intro-carousel {
    position: relative;
    height: 150px;
    padding-top: 10px;
}
.intro-carousel .swiper-container {
    /*图片比例改这里*/
    width: 390px;
    height: 130px;
    padding: 0;
}
.intro-carousel .swiper-slide {
    transition: 400ms;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.intro-carousel .swiper-slide-visible {
    /*opacity: 0.5;*/
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.intro-carousel .swiper-slide-active {
    /*opacity: 1;*/
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.intro-carousel .swiper-slide img {
    width: 100%;
    height: 100%;
}

.intro-carousel .swiper-slide p {
    z-index: 300;
    font-size: 80px;
    color: blue;
    position: absolute;
    left: 10px;
    top: 10px;
}
@media (min-width: 768px) {
    .intro-carousel {
        height: 260px;
        padding-top: 15px;
    }
    .intro-carousel .swiper-container {
        width: 690px;
        height: 230px;
    }
}
@media (min-width: 992px) {
    .intro-carousel {
        height: 353px;
        padding-top: 25px;
    }
    .intro-carousel .swiper-container {
        width: 909px;
        height: 303px;
    }
    .intro-carousel .swiper-slide {
        position: relative;
    }
}

/* ==============================
    介绍轮播图的介绍文本(的轮播图)
   ============================== */

.intro-text-carousel {
    width: 95%;
    max-width: 900px;
    height: 360px;   /*此处必须设置高度，不然会被.swiper-wrapper顶开*/
    margin: 5px auto 0;
    padding: 0;
}
.intro-text-carousel .swiper-container {
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    .intro-text-carousel {
        width: 690px;
        height: 300px;
    }
}
@media (min-width: 992px) {
    .intro-text-carousel {
        width: 909px;
    }
}

/* ==============================
    相册轮播图
   ============================== */

.album-carousel {
    width: 100%;
    position: relative;
    margin: 10px 0 0;
    padding: 0;
}
.album-carousel .arrow-wrap {
    width: 50px;
    height: 50px;
    background-color: rgba(20, 20, 50, 0.3);
    border-radius: 25px;
    z-index: 0;
    position: absolute;
    top: -11px;
    left: -17px;
}
.album-carousel .swiper-container {
    width: 355px;
    height: 155px;
}
.album-carousel .swiper-slide {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
/*.album-carousel .swiper-slide,*/
.album-carousel .swiper-slide img {
    width: 100%;
}
.album-carousel .swiper-slide .title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.5);
    color: #fff;
    padding-top: 7px;
}
@media (min-width: 768px){
    .album-carousel {
        margin-left: -9px;
        margin-right: -9px;
    }
    .album-carousel .arrow-left-white {
        left: 60px;
    }
    .album-carousel .arrow-right-white {
        right: 60px;
    }
    .album-carousel .swiper-container {
        width: 740px;
        height: 330px;
    }
    .album-carousel .swiper-slide .title {
        font-size: 18px;
        height: 40px;
        bottom: 7px;
    }
}
@media (min-width: 992px){
    .album-carousel .arrow-left-white {
        left: 40px;
    }
    .album-carousel .arrow-right-white {
        right: 40px;
    }
    .album-carousel .swiper-container{
        width: 964px;
        height: 430px;
    }
    .album-carousel .swiper-slide .title {
        font-size: 18px;
        height: 40px;
        bottom: 10px;
    }
}

/* ==============================
    模块大标题
   ============================== */

.sec-caption {
    text-align: left;
    letter-spacing: 2px;
}
.sec-caption p {
    font-size: 22px;
    margin: 0 0 5px;
}
.sec-caption .padding{
    background-image: url(../img/icon/caption-padding.png);
    background-repeat: no-repeat;
    width: 156px;
    height: 2px;
    margin: 0 auto;
    display: none; /*小屏幕下不显示标题下的小红线*/
}
@media (min-width: 768px) {

    .sec-caption {
        text-align: center;
        margin: 0 0 50px;
    }
    .sec-caption p {
        font-size: 32px;
        font-weight: lighter;
    }
    .sec-caption .padding{
        display: block;
    } 
}

/* ==============================
    介绍模块
   ============================== */

.intro-blk {
    padding: 0;
    background-color: #eee;
    margin: 0 1px;
}
.intro-blk .intro-img {
    padding: 0;
}
.intro-blk .intro-img img {
    width: 100%;
}
.intro-blk .intro-text {
    padding: 20px 20px;
}
.intro-blk .intro-text h3 {
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 10px;
    /*margin-bottom: 20px;*/
}
.intro-blk .intro-text p {
    font-size: 16px;
    line-height: 230%;
}
.intro-blk a,
.intro-blk a:link,
.intro-blk a:active,
.intro-blk a:visited {
    height: 60px;
    background-color: #fff;
    border: 1px solid #ff5a00;
    color: #ff5a00;
    text-align: center;
    text-decoration: none;
    line-height: 330%;
    font-size: 18px;
}
.intro-blk a:hover {
    /*font-size: 24px;*/
    color: #fff;
    background-color: #ff5a00;
}

@media screen and (min-width: 768px){
    .intro-blk .intro-text {
        padding: 30px 30px;
    }
}
@media (min-width: 992px) {
    .intro-blk {
        position: relative;
    }
    .intro-blk .intro-text p {
        max-height: 320px;
        overflow: hidden;
    }
    .intro-blk a {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}


/* ==============================
    介绍缩略图
   ============================== */
.intro-thumb .intro-thumb-img {
    border-radius: 50%;
    overflow: hidden;
}
.intro-thumb p {
    text-align: center;
    font-size: 14px;
    line-height: 60px;
}
@media screen and (min-width: 768px) {
    .intro-thumb p {
        font-size: 16px;
    }
}
@media screen and (min-width: 992px) {
    .intro-thumb p {
        font-size: 18px;
    }
}

/* ========================
    个人/角色信息(表格)
=========================*/

.profile-info {
    border: none;
    padding: 0;
    margin: 0;
}
table.profile-info {
    border-collapse: separate;
    -webkit-border-vertical-spacing: 10px;
    table-layout: auto;
}
table.profile-info > thead h3 {
    font-size: 18px;
}
table.profile-info > tbody {
    font-size: 14px;
}
table.profile-info > tbody > tr > th {
    vertical-align: top;
    -ms-word-break: keep-all;
    word-break: keep-all;
    font-weight: normal;
    padding: 0;
    margin: 0;
    width: 15px;
}
@media (min-width: 768px) {
    table.profile-info > thead h3 {
        font-size: 22px;
    }
    table.profile-info > tbody {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    table.profile-info > thead h3 {
        font-size: 24px;
    }
}

/* ==============================
    个人/角色信息（更自由的布局）
   ============================== */

.profile-free {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}
.profile-free .profile-text-head {
    line-height: 170%;
    padding: 10px 5px;
}
.profile-free .profile-text-head h4 {
    padding: 3px 0;
}
.profile-free .profile-text-main {
    margin-top: 15px;
    padding: 15px 10px;
    background-color: #eee;
    border-radius: 3px;
}
.profile-free .profile-text-main table th {
    word-break: keep-all;
    vertical-align: top;
    font-weight: normal;
}
@media (min-width: 768px) {
    .profile-free .profile-text-main {
        margin: 0;
        padding: 0 5px;
        background-color: transparent;
    }
}

/* ========================
    简单文本段落
=========================*/
.simple-text, .simple-text * {
    /*border: 1px dashed blue;*/
}
.simple-text {
    padding: 0;
}
.simple-text h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}
.simple-text  p {
    background-color: #eee;
    text-indent: 30px;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .simple-text p {
        font-size: 16px;
    }
}

/* ========================
	剧组详情标签页
=========================*/

.crew-info-tabs {
    margin-top: 30px;
    padding: 0;
}
.crew-info-tabs > .nav-tabs {
    border: none;
}
.crew-info-tabs > ul {
    margin-left: 0;
    margin-right: 0;
}
.crew-info-tabs > ul > li {
    padding: 0;
    background-color: #eee;
}
.crew-info-tabs > ul > li > a {
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: #333;
    height: 50px;
    margin: 0;
    padding: 14px;
}
.crew-info-tabs > ul > li.active > a,
.crew-info-tabs > ul > li.active > a:focus,
.crew-info-tabs > ul > li.active > a:hover {
    border: none;
    background-color: #ff5a00;
    color: #fff;
}
.crew-info-tabs > .tab-content > .tab-pane > .media {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.crew-info-tabs .media > .media-left {
    padding-top: 10px;
}
.crew-info-tabs .media > .media-left img{
    width: 60px;
    height: 60px;
}
@media (min-width: 768px) {
    .crew-info-tabs .media > .media-left {
        padding-right: 30px;
    }
    .crew-info-tabs .media > .media-left img{
        width: 100px;
        height: 100px;
    }
}
@media (min-width: 992px) {
    .crew-info-tabs .media > .media-left img{
        width: 160px;
        height: 160px;
    }
}

/* ========================
    合作伙伴/关于我们等的页顶大图
=========================*/
.header-banner {
    overflow: hidden;
}
.banner-wrap {
    width: 190%;
}
.banner-wrap,
.banner-wrap img {
    height: 200px;
}
.banner-wrap img {
    width: 100%;
    margin-left: -90px;
}
@media screen and (min-width: 768px) {
    .banner-wrap {
        width: 100%;
    }
    .banner-wrap,
    .banner-wrap img {
        height: auto;
        margin: auto;
    }
}

/* ========================
	二维码块
=========================*/

.qr-block {
    width: 170px;
    height: 170px;
    padding: 0 10px;
    cursor: default;
    background-color: #fff;
}
.qr-block img {
    width: 140px;
    height: 140px;
    padding: 10px;
}
.qr-block > p {
    font-size: 16px;
    text-align: center;
    line-height: 100%;
    padding: 0;
}

/* ==============================
    展示二维码的边栏悬浮框
   ============================== */

.side-dock {
    position: fixed;
    right: 10px;
    top: 35%;
    width: 60px;
    height: 240px;
    z-index: 120;
    background-color:rgba(238, 238, 238, 0.7);
    display: none;  /*小屏幕不显示悬浮框*/
}
.side-dock .btn {
    padding: 12px;
    width: 60px;
    height: 60px;
    border-radius: 0;
}
.side-dock .btn:hover {
    cursor: pointer;
}
.side-dock .btn > img{
    width: 100%;
}
.side-dock .btn .qr-block {
    left: -170px;
    position: absolute;
    -webkit-box-shadow:  -2px 1px 15px #ddd;
    -moz-box-shadow:  -2px 1px 15px #ddd;
    box-shadow:  -2px 1px 15px #777;
    display: none;
}
/*show QR-Code on hover*/
.side-dock .btn:hover {
    background-color: #ff5a00;;
}
.side-dock .btn:hover .qr-block {
    display: block;
}

/*不同按钮在不同位置，弹出不一样的二维码框*/
.btn #wechat {
    top: 0;
}
.btn #weibo {
    top: 35px;
}
.btn #download {
    top: 70px;
}
.totop {
    background-color: #ff5a00;
}

@media (min-width: 768px) {
    .side-dock {
        /*display: block;*/
    }
}








