* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}



/* 
*   通用组件 
*/

.touchable:hover {
    cursor: pointer;
}

/* 包皮 */
#wrapper{
    /* border: 1px solid red; */
}
#wrapper *{
    /* border: 1px dashed blue; */
}
#wrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding-top: 90px;
}

/* 胶囊按钮 */
.pill-btn{
    background-color: #ff2211;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 简单文本段落 */
.simple-text {
    padding: 10px 0;
}
.simple-text h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}
.simple-text  p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .simple-text p {
        font-size: 16px;
    }
}

/* modal */
.dim {
    background-color: rgba(50,50,50,0.8);
}
.modal-content {
    background-color: transparent;
    text-align: center;
    position:fixed;
    margin:auto;
    padding: 5px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:200px;
    height:40px;
    box-shadow: none;
    border: none;
}
.modal-content a {
    color: #fff;
    font-size: 28px;
}

/* 
*    视频分享页样式 
*/
#vid-wrapper {
    position: fixed;
    top: 0;
    background-color: #555;
    width: 100%;
    height: 100%;
}
#vid {
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0 auto;
}

#cover:hover,
#ui-dock:hover,
#profile-dock:hover {
    cursor: pointer;
}
#ui-dock, #profile-dock {
    position: absolute;
    background-color: transparent;
    z-index: 100;
}

/* acdors cover */
#cover {
    width: 100%;
    height: 80px;
    background-color: rgba(168, 158, 158, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}
#cover table {
    width: 100%;
    height: 100%;
}
#cover #logo {
    width: 160px;
}
#cover #logo div {
    border-right-width: 2px;
    border-right-style: solid;
    padding: 0 10px 0 10px;
    height: 35px;
    width: 100%;
}
#cover #logo img {
    width: 100%;
    height: 100%;
}
#cover #slogan div{
    /* color: #fff; */
    font-size: 20px;
    padding-left: 5px;
}
#cover #open {
    width: 80px;
    padding-right: 10px;
}
#cover #open .pill-btn {
    padding: 2px 8px;
}

/* ui-dock */
#ui-dock {
    bottom: 10%;
    right: 10px;
    height: 200px;
    width: 50px;
}
.share-ui {
    width: 50px;
    height: 75px;
}
.share-ui img {
    width: 100%;
}
.share-ui .share-btn,
.share-ui .share-text {
    width: 50px;
}
.share-ui .share-btn {
    padding: 5px;
    height: 50px;
}
.share-ui .share-btn-text {
    height: 25px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

/* profile-dock */
#profile-dock {
    bottom: 10%;
    left: 10px;
    width: 75%;
    height: 84px;
}
#profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}
#profile-pic img {
    width: 100%;
    height: 100%;
}
#profile-dock table {
    text-align: left;
    color: #fff;
    width: 75%;
}
#profile-pic, #profile-dock table {
    float: left;
}
#profile-dock table {
    padding-left: 5px;
    font-size: 18px;
    vertical-align: center;
}
#profile-dock #author-name,
#profile-dock #follow {
    float: left;
}
#profile-dock #author-name {
    font-size: 20px;
    font-weight: bold;
}
#profile-doc, #profile-dock * {
    /* border: 1px dashed yellow; */
}
#profile-dock #follow {
    width: 65px;
    padding: 0;
    margin: 2px 0 0 8px;
}
#profile-dock #follow .pill-btn {
    padding: 1px;
    border-radius: 15px;
}
#profile-dock #video-info {
    text-align: left;
    font-size: 16px;
    height: 45px;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    #profile-dock {
        width: 400px;
    }
}

/* 
*    话题分享页样式  
*/
/* 话题内容 */
.topic {
    padding: 0 10px 10px;
    border-bottom: 10px solid #eee;
}
.topic-table, .topic-img {
    width: 100%;
}
.topic-img {
    border-radius: 5px;
}
.topic-table #shares,
.topic-table #comments,
.topic-table #likes {
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 10px; */
}
.topic-table .touchable {
    font-size: 18px;
}
.topic-table .touchable img {
    width: 25px;
    height: 25px;
}
/* 评论列表 */
.comment-list, .comment-list * {
    /* border: 1px dashed blue; */
}
.comment-list {
    padding: 10px;
}
.comment-list > p {
    font-size: 18px;
}
.comment-item {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.comment-item > .user-pic,
.comment-item > .comment-text {
    display: inline-block;
}

.comment-item > .user-pic {
    vertical-align: top;
}
.comment-item > .user-pic > img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.comment-item > .comment-text {
    width: 80%;
    padding-left: 10px;
}
.comment-item > .comment-text > .user-name {
    font-size: 16px;
    color: #777;
}
.comment-item > .comment-text > .comment-time {
    font-size: 12px;
    color: #aaa;
}
.comment-item > .comment-text > .comment-content {
    font-size: 18px;
    padding: 5px 0;
}
@media screen and (min-width: 360px) {
    .comment-item > .comment-text {
        width: 85%;
    }
}

/* 
*    活动分享页样式  
*/

/* 图文介绍模块 */
.intro-blk {
    padding: 0;
    /* background-color: #eee; */
    margin: 0 1px;
}
.intro-blk .intro-img {
    padding: 0;
}
.intro-blk .intro-img img {
    width: 100%;
}
.intro-blk .intro-text {
    padding: 20px 20px;
}
.intro-blk .intro-text p {
    font-size: 16px;
    line-height: 230%;
}

@media screen and (min-width: 768px){
    .intro-blk .intro-text {
        padding: 30px 30px;
    }
}
/* @media (min-width: 992px) {
    .intro-blk {
        position: relative;
    }
    .intro-blk .intro-text p {
        max-height: 320px;
        overflow: hidden;
    }
} */