* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: fixed;
    top: 0;
    background-color: #555;
    width: 100%;
    height: 100%;
}
#vid {
    /*!*position: absolute;*!*/
    /*top: 0;*/
    width: 100%;
    height: 100%;
    z-index: 90;
    margin: 0 auto;
}

#ui-dock:hover,
#profile-dock:hover {
    cursor: pointer;
}
#ui-dock, #profile-dock {
    position: absolute;
    background-color: transparent;
    z-index: 100;
}

/* ui-dock */
#ui-dock {
    bottom: 10%;
    right: 10px;
    height: 200px;
    width: 50px;
}
.share-ui {
    width: 50px;
    height: 75px;
}
.share-ui img {
    width: 100%;
}
.share-ui .share-btn,
.share-ui .share-text {
    width: 50px;
}
.share-ui .share-btn {
    padding: 5px;
    height: 50px;
}
.share-ui .share-btn-text {
    height: 25px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

/* profile-dock */
#profile-dock {
    bottom: 10%;
    left: 10px;
    /*width: 320px;*/
    width: 75%;
    height: 84px;
}
#profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}
#profile-pic img {
    width: 100%;
    height: 100%;
}
#profile-dock table {
    text-align: left;
    color: #fff;
    width: 75%;
}
#profile-pic, #profile-dock table {
    float: left;
}
#profile-dock table {
    padding-left: 5px;
    font-size: 18px;
    vertical-align: center;
}

#profile-dock #author-name {
    width: 95px;
    font-size: 20px;
    font-weight: bold;
}
#profile-dock #follow {
    width: 55px;
    font-size: 16px;
    text-align: center;
    padding: 0;
}
#profile-dock #follow div {
    background-color: red;
    border-radius: 15px;
}
#profile-dock #video-info {
    text-align: left;
    font-weight: lighter;
}


@media screen and (min-width: 768px) {
    #profile-dock {
        width: 400px;
    }
}



